button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #eaeaec;
  border-radius: 32px;
  margin-right: 10px;
  margin-left: 10px;
}

p {
  color: #7626ff;
  margin-top: 8px;
  font-weight: bold;
}
