<app-header></app-header>
<div style="width:50%">
  <img [src]="bgFront" class="img-fluid mx-auto
    d-block bg-front" alt="Imagem
    responsiva" style="max-width:100%">
</div>
<div style="width:50%" class="rounded mx-auto d-block image-text">
  <img [src]="frontTest" class="img-fluid" alt="Imagem
    responsiva" style="width:90%">
</div>

<div class="text-light text">
  <p class="text-center text-light">
    Mussum Ipsum, cacilds vidis litro abertis.
  </p>
  <p> Casamentiss faiz malandris se pirulitá.</p>

  <button class="btn">
    Saiba mais
  </button>
</div>


<div class="cards text-center">

  <div class="card" style="width: 18rem;" *ngFor="let card of cards">
    <h5 class="card-title py-4">{{card.title}}s</h5>
    <img class="card-img mx-auto d-block fingerprint fingerprint-item"
      [src]="fingerprint" alt="Imagem de capa do
      card">
    <img class="card-img image-card mx-auto
      d-block card-image-item" [src]="bgFront" alt="Imagem de capa
      do card">

    <div class="card-body">
      <p class="card-text text-center">{{card.text}}</p>
      <button class="btn">
        Saiba mais
      </button>
    </div>
    <img class="footer-card-item" [src]="bgFront" alt="Footer
      do Card">
  </div>

</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul class="list-unstyled">
          <li><a href="#!">Quem Somos</a></li>
          <li><a href="#!">Como Funciona</a></li>
          <li><a href="#!">FAQ's</a></li>
          <li><a href="#!">Contato</a></li>
        </ul>
      </div>

      <div class="col-4">
        <ul class="list-unstyled">
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/cadastrar']">Cadastro</a></li>
          <li><a href="#!">Termos de Uso</a></li>
          <li><a href="#!">Privacidade</a></li>
        </ul>
      </div>

      <div class="col">
        <img [src]="bgFront" class="bg-front-footer" alt="Imagem
          responsiva">
      </div>


    </div>
  </div>

</div>
