<app-header></app-header>
<img src="../../../../assets/images/bg-front.png" class="img-fluid mx-auto
  d-block bg-front"
  alt="Imagem
  responsiva">
<img src="../../../../assets/images/front-test.png" class="img-fluid mx-auto
  d-block image-text"
  alt="Imagem
  responsiva">

<div class="text-light text">
  <p>Mussum Ipsum, cacilds vidis litro abertis.</p>
  <p> Casamentiss faiz malandris se pirulitá.</p>
  <button class="btn">
    Saiba mais
  </button>
</div>


<div class="cards text-center">
  <div class="card card-1" style="width: 18rem;">
    <h5 class="card-title py-4">Mussum Ipsum cacilds</h5>
    <img class="card-img-top image-card mx-auto
      d-block"
      src="../../../../assets/images/bg-front.png" alt="Imagem de capa
      do card">
    <div class="card-body">

      <p class="card-text text-center">Delegadis gente finis, bibendum egestas
        augue arcu ut
        est interessantiss quisso pudia..</p>
      <button class="btn btn-card-1">
        Saiba mais
      </button>
    </div>
  </div>

  <div class="card card-2" style="width: 18rem;">
    <h5 class="card-title py-4">Mussum Ipsum cacilds</h5>
    <img class="card-img-top image-card mx-auto d-block card-image"
      src="../../../../assets/images/bg-front.png" alt="Imagem de capa do card">
    <img class="card-img-top mx-auto d-block fingerprint"
      src="../../../../assets/images/fingerprint.png" alt="Imagem de capa do
      card">
    <div class="card-body">
      <p class="card-text">Um exemplo de texto rápido para construir o
        título do
        card e fazer preencher o conteúdo do card.</p>
      <button class="btn btn-card-2">
        Saiba mais
      </button>
    </div>
  </div>

  <div class="card card-3" style="width: 18rem;">
    <h5 class="card-title py-4">Mussum Ipsum cacilds</h5>
    <img class="card-img-top image-card mx-auto
      d-block"
      src="../../../../assets/images/bg-front.png" alt="Imagem de capa
      do card">
    <div class="card-body">

      <p class="card-text">Um exemplo de texto rápido para construir o
        título do
        card e fazer preencher o conteúdo do card.</p>
      <button class="btn btn-card-3">
        Saiba mais
      </button>
    </div>
  </div>
</div>