<app-header></app-header>
<img [src]="bgFront" class="img-fluid mx-auto
  d-block bg-front"
  alt="Imagem
  responsiva">
<img [src]="frontTest" class="img-fluid mx-auto
  d-block image-text"
  alt="Imagem
  responsiva">

<div class="text-light text">
  <p>Mussum Ipsum, cacilds vidis litro abertis.</p>
  <p> Casamentiss faiz malandris se pirulitá.</p>
  <button class="btn">
    Saiba mais
  </button>
</div>


<div class="cards text-center">
  <div class="card card-1" style="width: 18rem; max-height: 400px;">
    <h5 class="card-title py-4">Mussum Ipsum cacilds</h5>
    <img class="card-img mx-auto d-block fingerprint fingerprint-item"
      [src]="fingerprint" alt="Imagem de capa do
      card">
    <img class="card-img image-card mx-auto
      d-block card-image-item"
      [src]="bgFront" alt="Imagem de capa
      do card">

    <div class="card-body">

      <p class="card-text text-center">Delegadis
        gente finis, bibendum egestas
        augue arcu ut
        est interessantiss quisso pudia..</p>
      <button class="btn btn-card-1">
        Saiba mais
      </button>

    </div>
    <img class="footer-card-item-1 footer-card-item" [src]="bgFront" alt="Footer
      do Card">
  </div>

  <div class="card mx-auto" style="width: 18rem; max-height: 480px;">
    <h5 class="card-title py-4">Mussum Ipsum cacilds</h5>

    <img class="card-img-top mx-auto d-block fingerprint fingerprint-center"
      [src]="fingerprint" alt="Imagem de capa do
      card">
    <img class="image-card mx-auto d-block card-image"
      [src]="bgFront" alt="Imagem de capa do card">

    <div class="card-body">
      <p class="card-text">Um exemplo de texto rápido para construir o
        título do
        card e fazer preencher o conteúdo do card.</p>
      <button class="btn btn-card-2">
        Saiba mais
      </button>
    </div>
    <img class="footer-card" [src]="bgFront" alt="Footer do Card">


  </div>

  <div class="card card-3" style="width: 18rem; max-height: 400px;">
    <h5 class="card-title py-4">Mussum Ipsum cacilds</h5>
    <img class="card-img mx-auto d-block fingerprint-item fingerprint"
      [src]="fingerprint" alt="Imagem de capa do
      card">
    <img class="card-img image-card mx-auto
      d-block card-image-item"
      [src]="bgFront" alt="Imagem de capa
      do card">

    <div class="card-body">

      <p class="card-text text-center">Delegadis
        gente finis, bibendum egestas
        augue arcu ut
        est interessantiss quisso pudia..</p>
      <button class="btn btn-card-1">
        Saiba mais
      </button>

    </div>
    <img class="footer-card-item-3 footer-card-item" [src]="bgFront" alt="Footer
      do Card">
  </div>

</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul class="list-unstyled">
          <li><a href="#!">Quem Somos</a></li>
          <li><a href="#!">Como Funciona</a></li>
          <li><a href="#!">FAQ's</a></li>
          <li><a href="#!">Contato</a></li>
        </ul>
      </div>

      <div class="col-4">
        <ul class="list-unstyled">
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/cadastrar']">Cadastro</a></li>
          <li><a href="#!">Termos de Uso</a></li>
          <li><a href="#!">Privacidade</a></li>
        </ul>
      </div>

      <div class="col">
        <img [src]="bgFront" class="bg-front-footer"
          alt="Imagem
          responsiva">
      </div>


    </div>
  </div>

</div>