<app-header></app-header>
<!-- 
<div class="container form" style="margin: 5% auto;max-width: 980px;">
  <h2>Cadastrar</h2>

  <form class="py-4" [formGroup]="registerForm"
    (ngSubmit)="onSubmit(registerForm.value)">

    <h5>Informações Pessoais</h5>
    <div class="form-row justify-content-between">

      <div class="form-group col-md-12">
        <input type="text" class="form-control"
          placeholder="Nome/Razão Social" formControlName="nameSocialReason">
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="CPF" formControlName="cpf">
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Telefone" formControlName="phone">
      </div>
      <div class="form-group col-md-12">
        <input type="text" class="form-control"
          placeholder="E-mail" formControlName="email">
      </div>

      <div class="form-group col-md-12">
        <input type="text" class="form-control"
          placeholder="Senha" formControlName="password">
      </div>
    </div>

    <h5>Endereço</h5>
    <div class="form-row justify-content-end">
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="cep" formControlName="cep">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Logragroudo" formControlName="publicPlace">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Numero" formControlName="num">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Bairro" formControlName="neighborhood">
      </div>

    </div>

    <div class="row">
      <div class="col-12 text-center">
        <app-button
          [title]="title"
          (onSubmit)="($event)"></app-button>
      </div>

      <div class="col-12 text-center py-4">
        <a [routerLink]="['/login']">Já tem uma conta?
          Faça login</a>
      </div>
    </div>



  </form>
</div> -->
<!---->

<div class="form clearFix" style="margin: 5% auto;max-width: 980px;">

  <form [formGroup]="registerForm" class="clearFix"
    (ngSubmit)="onSubmit(registerForm.value)">
    <h2 class="my-4">Cadastrar</h2>


    <div class="float-left">

      <h5 class="pr-1 pl-1">Informações Pessoais</h5>

      <div class="form-group pr-1 pl-1">
        <input type="text" formControlName="nameSocialReason"
          class="form-control" placeholder="Nome/Razão Social">
      </div>

      <div class="float-left form-group pr-1 pl-1">
        <input type="text" formControlName="cpf" class="form-control"
          placeholder="CPF">
      </div>


      <div class="float-right form-group pr-1 pl-1">
        <input type="text" formControlName="phone" class="form-control"
          placeholder="Telefone">
      </div>

      <div class="form-group pr-1 pl-1">
        <input type="email" formControlName="email" class="form-control"
          placeholder="E-mail">
      </div>

      <div class="form-group pr-1 pl-1">
        <input type="password" formControlName="password" class="form-control"
          placeholder="Senha">
      </div>

    </div>

    <div class="clearFix">
      <div class="float-right">

        <h5 class="pr-1 pl-1">Endereço</h5>

        <div class="float-left form-group pr-1 pl-1">
          <input type="text" formControlName="cep" class="form-control"
            placeholder="CEP">
        </div>

        <div class="float-right form-group pr-1 pl-1">
          <input type="text" formControlName="publicPlace" class="form-control"
            placeholder="Logradouro">
        </div>

        <div class="form-group pr-1 pl-1">
          <input type="text" formControlName="num" class="form-control"
            placeholder="Número">
        </div>

        <div class="float-right form-group pr-1 pl-1">
          <input type="text" formControlName="neighborhood" class="form-control"
            placeholder="Bairro">
        </div>

      </div>
    </div>
    <div class="button text-center py-4">
      <app-button
        [title]="title"
        (onSubmit)="($event)"></app-button>
    </div>

    <div class="text-center">
      <a [routerLink]="['/login']">Já tem uma conta?
        Faça login</a>
    </div>

  </form>
</div>

<app-footer></app-footer>
