<app-header></app-header>
<!--
<div class="container form" style="margin: 5% auto;max-width: 980px;">
  <h2>Cadastrar</h2>

  <form class="py-4" [formGroup]="registerForm"
    (ngSubmit)="onSubmit(registerForm.value)">

    <h5>Informações Pessoais</h5>
    <div class="form-row justify-content-between">

      <div class="form-group col-md-12">
        <input type="text" class="form-control"
          placeholder="Nome/Razão Social" formControlName="nameSocialReason">
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="CPF" formControlName="cpf">
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Telefone" formControlName="phone">
      </div>
      <div class="form-group col-md-12">
        <input type="text" class="form-control"
          placeholder="E-mail" formControlName="email">
      </div>

      <div class="form-group col-md-12">
        <input type="text" class="form-control"
          placeholder="Senha" formControlName="password">
      </div>
    </div>

    <h5>Endereço</h5>
    <div class="form-row justify-content-end">
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="cep" formControlName="cep">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Logragroudo" formControlName="publicPlace">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Numero" formControlName="num">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control"
          placeholder="Bairro" formControlName="neighborhood">
      </div>

    </div>

    <div class="row">
      <div class="col-12 text-center">
        <app-button
          [title]="title"
          (onSubmit)="($event)"></app-button>
      </div>

      <div class="col-12 text-center py-4">
        <a [routerLink]="['/login']">Já tem uma conta?
          Faça login</a>
      </div>
    </div>



  </form>
</div> -->
<!---->

<div class="form clearFix" style="margin: 5% auto;max-width: 980px;">

  <form [formGroup]="registerForm" class="clearFix" (ngSubmit)="onSubmit(registerForm.value)">
    <h2 class="my-4">Cadastrar</h2>

    <div class="float-left">

      <h5 class="pr-1 pl-1">Informações Pessoais</h5>


      <div class="form_line">
        <label path="title">Title:</label>
        <div class="form_controls">
          <input type="text" class="form-control" #title placeholder="Title" (keyup.enter)="updateTitle(title.value)"
            (blur)="updateTitle(title.value)" />
        </div>
      </div>
      <div class="form_line">
        <label>Image:</label>
        <div class="form_controls">
          <div class="upload_button_holder">
            <label class="upload_button" for="fileupload">Upload</label>
            <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader"
              (change)="fileInput.value=''" multiple />
          </div>
          <div class="progress" *ngIf="progressTrue">
            <div style="background: #7626ff;" class="progress-bar" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" [style.width.%]="progress">
              {{progress}}%</div>
          </div>
        </div>
      </div>


      <div class="form-group pr-1 pl-1">
        <div class="form-group input-wrapper">
          <img class="img-thumbnail" width="150" height="150" [src]="imageSrc || personSrc" alt="Sua imagem" />
          <br>
          <label for='input-file'>
            Selecionar um arquivo*
          </label>
          <input class="cloudinary_fileupload" type='file' id='input-file' name="photo" type='file' value=''
            (change)="initializeUploadWidget($event)" />
          <span id='file-name'></span>
          <!-- mensagem de erro -->
          <!-- <div *ngIf="uploadResponse.status === 'error'">
            {{ uploadResponse.message }}
          </div> -->
          <!-- porcentagem do envio da foto -->
          <!-- <div *ngIf="uploadResponse.status === 'progress'">
            <div class="text-primary" role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              CARREGANDO...POR FAVOR AGUARDE!
            </div>
          </div> -->

        </div>
      </div>


      <div class="form-group pr-1 pl-1">
        <app-input>
          <input type="text" formControlName="nameSocialReason" class="form-control" placeholder="Nome/Razão Social*">
        </app-input>
      </div>


      <div class="float-left form-group pr-1 pl-1">
        <app-input>
          <input type="text" mask="000.000.000-00" formControlName="cpf" class="form-control" placeholder="CPF*">
        </app-input>



        <div *ngIf="registerForm.get('cpf').getError('cpfNotValid')">
          <p class="text-danger">Por favor digite um CPF válido.</p>
        </div>

      </div>


      <div class="float-right form-group pr-1 pl-1">
        <app-input>
          <input type="text" mask="(00)0 0000-0000" formControlName="phone" class="form-control"
            placeholder="Telefone*">
        </app-input>
      </div>

      <div class="form-group pr-1 pl-1">
        <app-input>
          <input type="email" formControlName="email" class="form-control" placeholder="E-mail*">
        </app-input>
      </div>

      <div class="form-group pr-1 pl-1 left-inner-addon">
        <app-view-password></app-view-password>
        <app-input>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Senha*">
        </app-input>

      </div>


    </div>

    <div class="clearFix">
      <div class="float-right">

        <h5 class="pr-1 pl-1">Endereço</h5>

        <div class="float-left form-group pr-1 pl-1">
          <app-input>
            <input type="text" mask="00000-000" formControlName="cep" class="form-control" placeholder="CEP*">
          </app-input>

        </div>

        <div class="float-right form-group pr-1 pl-1">
          <app-input>
            <input type="text" formControlName="publicPlace" class="form-control" placeholder="Logradouro*">
          </app-input>
        </div>

        <div class="form-group pr-1 pl-1">
          <app-input>
            <input type="text" formControlName="num" class="form-control" placeholder="Número*">
          </app-input>
        </div>

        <div class="float-right form-group pr-1 pl-1">
          <app-input>
            <input type="text" formControlName="neighborhood" class="form-control" placeholder="Bairro*">
          </app-input>

        </div>

      </div>
    </div>
    <div class="button text-center py-4">
      <app-button [title]="title" (onSubmit)="($event)" [disabled]="registerForm.invalid"></app-button>
      <!-- <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">CLIQUE </button> -->
    </div>

    <div class="text-center">
      <a class="have-account" [routerLink]="['/login']">Já tem uma conta?
        Faça login</a>
    </div>



  </form>
</div>



<app-footer></app-footer>
