input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  opacity: 1;
}

.clearFix::after,
.clearFix::before {
  content: " ";
  display: table;
}

.clearFix::after {
  clear: both;
}

h5 {
  max-width: 100%;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon app-view-password {
  position: absolute;
  left: calc(100% - 9%);
  margin: 10px auto;
  color: #666;
}

.have-account:before {
  background-color: #0056b3;
}

a {
  text-decoration: none;
}

@media (max-width: 850px) {
  div {
    clear: both;
    // width: auto;
    min-width: 100%;
    overflow-x: hidden;
    padding-left: 5px;
    padding-right: 5px;
  }
}
