form {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.forgot {
  color: #585859;
}

.forgot:before {
  background-color: #585859;
}

.dont-have-account:before {
  background-color: #0056b3;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon app-view-password {
  position: absolute;
  left: calc(100% - 9%);
  margin: 10px auto;
  color: #666;
}
