$standard-color: #585859;

.back {
  color: $standard-color;
  text-decoration: none;
}

.back:before {
  background-color: $standard-color;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon app-view-password {
  position: absolute;
  left: calc(100% - 9%);
  margin: 10px auto;
  color: #666;
}
