<app-header></app-header>

<div class="container form" style="margin: 10% auto; max-width: 350px;">
  <h2>Alterar senha</h2>

  <form class="form-login" [formGroup]="redefineForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12" *ngFor="let data of redefine; let i = index">
        <div class="form-group">
          <input
            type="{{ data.type }}"
            class="form-control"
            formControlName="{{ data.formName }}"
            placeholder="{{ data.name }}"
          />
        </div>
      </div>
    </div>

    <div class="col-12 mb-3 text-right">
      <a class="back" [routerLink]="['/login']">Voltar</a>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <app-button [title]="title" (onSubmit)="($event)"></app-button>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
